.containerTerms {
  background-image: url("../../../public/images/backText.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  padding-bottom: 5rem;
  margin-top: 4rem;
}

.titleTerms {
  padding-top: 2rem;
  font-weight: bold;
  font-size: 4rem;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .titleTerms {
    padding-top: 10rem;
  }
}

.pointTerms {
  font-weight: normal;
  font-size: 2rem;
  padding: 0rem 6rem;
}

@media screen and (max-width: 900px) {
  .pointTerms {
    padding: 0rem 2rem;
  }
}
