.App {
  text-align: center;
  overflow-x: hidden;
}

.back {
  background-image: url('../public/images/burn2.gif');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

@font-face {
  font-family: 'Roman Wood Type JNL';
  src: url('../public/fonts/Roman-Wood-Type-JNL.ttf') format('truetype');
}

body {
  font-family: 'Roman Wood Type JNL', sans-serif;
}

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}
